<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="registrationForm" (ngSubmit)="register()">
                
                <div class="mb-3">
                    <label for="userName" class="form-label">User Name</label>
                    <input type="text" class="form-control" formControlName="userName" />
                </div>
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                    <div *ngIf="userName.errors?.['required']">
                        Необходимо заполнить поле
                    </div>
                    <div *ngIf="userName.errors?.['minlength'] || userName.errors?.['maxlength']">
                        Имя должно содержать от 2 до 20 символов
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email" />
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors?.['required']">
                        Необходимо заполнить поле
                    </div>
                    <div *ngIf="email.errors?.['pattern']">
                        Введите корретное название почты
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" />
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors?.['required']">
                        Необходимо заполнить поле
                    </div>
                    <div *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']">
                        Пароль должен содержать от 6 до 20 символов
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Registration</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>